# OS & System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Code Editors & IDEs
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs & Databases
*.log
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
